<ion-header>
  <ion-toolbar>
    <ion-buttons 
      slot="start">
      <ion-back-button 
      defaultHref="/home"
      text="Volver"
      color="primary"
      mode="ios"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize"> Avatar </ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/images/bruce.jpg"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-chip color="primary" mode="ios" outline="true" *ngFor="let item of [1,1,1]">
    <ion-avatar>
      <ion-img src="/assets/images/bruce.jpg"></ion-img>
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
      <ion-avatar slot="start">
        <ion-img src="/assets/images/bruce.jpg"></ion-img>
      </ion-avatar>
      <ion-label> Bruce Lee </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
